html, head, body{
    padding:0;
    margin:0;
    box-sizing: 0;
    width: 100vw;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: ; 
    font-family: Segoe UI, Regular, sans-serif;
    font-size: 16px;
}

.cabecalho{
    background-color: #253A57;
    width: 100vw;
    height: 70px;
    text-align: center;
    position: fixed;
    padding-top: 40px;
}
   

.botao {
    font-family: Segoe UI, Regular, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color:black;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    display: inline flex;
    align-items: right;
    width: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-family: Segoe UI, Regular, sans-serif;
    font-size: 20px; 
}

.avatar{
    /* width: 100vw; */
    height:auto;
    padding-top: 110px;
    background-color: #80AEBE; 
  
}

.imagem__principal{
    margin-top: -80px;
    margin-left: 60px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    object-fit: cover;

}

.nome{
    margin-top: 70px;
    padding-left: 25px;
    font-family: Segoe UI, Regular, sans-serif;
    font-size: 28px; 
    box-sizing: border-box;
}

.profissao{
    font-family: Segoe UI, regular, sans-serif;
    font-size: 16px;  
    font-style: italic;
    margin-top: -20px;
    padding-left: 40px; 
    box-sizing: border-box;
}

.apresentacao{
    background-color: #80AEBE; 
    width: 100vw;
    height: auto;
    padding-left: 20px;
    box-sizing: border-box;
}

h2{
    font-size: 20px;
    font-weight: 600;
}

.container__apresentacao__img{
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 20px;
    box-sizing: border-box;
}

.apresentacao__imagens{
    width: 15vw;
    height: 30vh;
    display: flexbox;
    border-radius: 20%;
    object-fit: cover;
    padding: 0.5rem;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    flex-wrap: wrap; 
}
    
.formacao{
    background-color: #F3F2EF; 
    padding: 2rem;
    box-sizing: border-box;
}

.experiencia{
    background-color: #f3f2eff5;
    padding: 2rem;
    box-sizing: border-box;
}

.container_projetos{
    width: 100vw;
    height: auto;
    padding-left: 0; 
    padding: 2rem; 
    background-color: #80AEBE;
    flex-wrap: wrap; 
    box-sizing: border-box;
}

.projetos{
    width: 100%;
    justify-content: center;
    align-items: center;  
    background-color: #80AEBE;
    padding: 2rem;
    box-sizing: border-box;

}

.cards{
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    box-sizing: border-box;
}

.card{
    display: flexbox;
    width: 200px;
    height: 340px;
    background-color: rgb(255 255 255);
    border-color: black;
    border-radius: 4px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0 0 0 / 12%);
    cursor: pointer;
  }

  .card:hover{
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 7%), 0 10px 15px 0 rgb(0 0 0 / 10%);
    cursor: point;
  }

  .card__imagem{
      width:100%;
      height:150px;
      justify-content: center;
      object-fit: cover;
  }

  .card__titulo{
      font-size: 18px;
  }

  .card__boton{
    justify-content: space-between;
  }


  a {
    text-decoration: none;
  }

  .github{
    background-color: #F3F2EF; 
    padding: 2rem;
    box-sizing: border-box;
    line-height: 10%;
    font-family: Segoe UI, Regular, sans-serif;
    font-size: 16px;
  }

  .container__github{
      margin-top: 50px;
  }


  .contato{
    background-color: #253A57;
    color: #fffff;
    display: flex;
    flex-direction: column;
    padding: 2rem; 
    box-sizing: border-box;
    }

    .contato__titulo{
    color: white;
    margin-bottom: 40px;
   
    }

    label {
    color: white;
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 14px;
    font-family: Segoe UI, Regular, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    }

    .datos, textarea {
    font-family: Segoe UI, Regular, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-bottom: 25px;
    }

    textarea {
    vertical-align: top;
    height: 5em;
    }

    .button {
    margin-left: 170px;
    text-align:center;
    }

  .datos{
    background-color: white;
    color:black;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    margin-left:10px;
}

.errorInput{
    border: 2px solid rgb(207, 53, 53) !important;
}

.mensagemNome,
.mensagemEmail,
.mensagemMensagem {
    color: white;
}